//! **************************************************************************
// Written by: Map O.87xd on Thu Apr 05 21:19:15 2018
//! **************************************************************************

SCHEMATIC START;
COMP "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i" LOCATE =
        SITE "GTPA1_DUAL_X0Y0" LEVEL 1;
COMP "sys_reset_n" LOCATE = SITE "G9" LEVEL 1;
COMP "pci_exp_rxn" LOCATE = SITE "C5" LEVEL 1;
COMP "pci_exp_rxp" LOCATE = SITE "D5" LEVEL 1;
COMP "pci_exp_txn" LOCATE = SITE "A4" LEVEL 1;
COMP "pci_exp_txp" LOCATE = SITE "B4" LEVEL 1;
COMP "sys_clk_n" LOCATE = SITE "A8" LEVEL 1;
COMP "sys_clk_p" LOCATE = SITE "B8" LEVEL 1;
PIN s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<154> =
        BEL "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i"
        PINNAME RXUSRCLK0;
PIN s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<340> =
        BEL "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i"
        PINNAME TXUSRCLK0;
TIMEGRP s6_pcie_v2_4_i_clk_250 = PIN
        "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<154>"
        PIN
        "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<340>"
        PIN
        "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<154>"
        PIN
        "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<340>"
        BEL "s6_pcie_v2_4_i/mgt2x_bufg";
PIN s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<156> =
        BEL "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i"
        PINNAME RXUSRCLK20;
PIN s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<342> =
        BEL "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i"
        PINNAME TXUSRCLK20;
PIN s6_pcie_v2_4_i/PCIE_A1_pins<261> = BEL "s6_pcie_v2_4_i/PCIE_A1" PINNAME
        MGTCLK;
TIMEGRP s6_pcie_v2_4_i_clk_125 = PIN
        "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<156>"
        PIN
        "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<342>"
        PIN
        "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<156>"
        PIN
        "s6_pcie_v2_4_i/GT_i/tile0_gtpa1_dual_wrapper_i/gtpa1_dual_i_pins<342>"
        BEL "s6_pcie_v2_4_i/mgt_bufg" PIN "s6_pcie_v2_4_i/PCIE_A1_pins<261>";
PIN s6_pcie_v2_4_i/PCIE_A1_pins<611> = BEL "s6_pcie_v2_4_i/PCIE_A1" PINNAME
        USERCLK;
PIN app/BMD/BMD_EP/EP_MEM/EP_MEM/Mmult_n0362_pins<92> = BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/Mmult_n0362" PINNAME CLK;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[3].ram/ramb16_pins<28> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[3].ram/ramb16"
        PINNAME CLKA;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[3].ram/ramb16_pins<29> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[3].ram/ramb16"
        PINNAME CLKB;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[2].ram/ramb16_pins<28> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[2].ram/ramb16"
        PINNAME CLKA;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[2].ram/ramb16_pins<29> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[2].ram/ramb16"
        PINNAME CLKB;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[1].ram/ramb16_pins<28> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[1].ram/ramb16"
        PINNAME CLKA;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[1].ram/ramb16_pins<29> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[1].ram/ramb16"
        PINNAME CLKB;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[0].ram/ramb16_pins<28> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[0].ram/ramb16"
        PINNAME CLKA;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[0].ram/ramb16_pins<29> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[0].ram/ramb16"
        PINNAME CLKB;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[3].ram/ramb16_pins<28> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[3].ram/ramb16"
        PINNAME CLKA;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[3].ram/ramb16_pins<29> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[3].ram/ramb16"
        PINNAME CLKB;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[2].ram/ramb16_pins<28> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[2].ram/ramb16"
        PINNAME CLKA;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[2].ram/ramb16_pins<29> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[2].ram/ramb16"
        PINNAME CLKB;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[1].ram/ramb16_pins<28> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[1].ram/ramb16"
        PINNAME CLKA;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[1].ram/ramb16_pins<29> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[1].ram/ramb16"
        PINNAME CLKB;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[0].ram/ramb16_pins<28> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[0].ram/ramb16"
        PINNAME CLKA;
PIN s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[0].ram/ramb16_pins<29> =
        BEL "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[0].ram/ramb16"
        PINNAME CLKB;
TIMEGRP s6_pcie_v2_4_i_clk_62_5 = BEL "s6_pcie_v2_4_i/phy_bufg" PIN
        "s6_pcie_v2_4_i/PCIE_A1_pins<611>" BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tlast" BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tvalid" BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_31"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_30"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_29"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_28"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_27"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_26"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_25"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_24"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_23"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_22"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_21"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_20"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_19"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_18"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_17"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_16"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_15"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_14"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_13"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_12"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_11"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_10"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_9"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_8"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_7"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_6"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_5"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_4"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_3"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_2"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_1"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tdata_0"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tlast_prev"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tvalid_prev"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_31"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_30"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_29"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_28"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_27"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_26"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_25"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_24"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_23"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_22"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_21"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_20"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_19"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_18"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_17"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_16"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_15"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_14"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_13"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_12"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_11"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_10"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_9"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_8"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_7"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_6"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_5"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_4"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_3"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_2"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_1"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.tdata_prev_0"
        BEL "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/reg_tlast"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_31"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_30"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_29"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_28"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_27"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_26"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_25"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_24"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_23"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_22"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_21"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_20"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_19"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_18"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_17"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_16"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_15"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_14"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_13"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_12"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_11"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_10"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_9"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_8"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_7"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_6"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_5"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_4"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_3"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_2"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_1"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tdata_0"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/m_axis_rx_tvalid"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_reof_prev"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_31"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_30"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_29"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_28"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_27"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_26"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_25"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_24"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_23"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_22"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_21"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_20"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_19"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_18"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_17"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_16"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_15"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_14"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_13"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_12"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_11"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_10"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_9"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_8"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_7"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_6"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_5"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_4"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_3"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_2"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_1"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rd_prev_0"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rsrc_dsc_d"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_10"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_9"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_8"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_7"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_6"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_5"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_4"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_3"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_2"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_1"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/reg_pkt_len_counter_0"
        BEL "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_null_gen_inst/cur_state"
        BEL "app/BMD/BMD_EP/EP_TX/bmd_32_tx_state_FSM_FFd1" BEL
        "app/BMD/BMD_EP/EP_TX/bmd_32_tx_state_FSM_FFd2" BEL
        "app/BMD/BMD_EP/EP_TX/bmd_32_tx_state_FSM_FFd4" BEL
        "app/BMD/BMD_EP/EP_TX/bmd_32_tx_state_FSM_FFd3" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_31" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_30" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_29" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_28" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_27" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_26" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_25" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_24" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_23" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_22" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_21" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_20" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_19" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_18" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_17" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_16" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_15" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_14" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_13" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_12" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_11" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_10" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_9" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_8" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_7" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_6" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_5" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_4" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_3" BEL
        "app/BMD/BMD_EP/EP_TX/pmrd_addr_2" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_31" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_30" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_29" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_28" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_27" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_26" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_25" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_24" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_23" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_22" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_21" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_20" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_19" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_18" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_17" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_16" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_15" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_14" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_13" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_12" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_11" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_10" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_9" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_8" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_7" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_6" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_5" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_4" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_3" BEL
        "app/BMD/BMD_EP/EP_TX/pmwr_addr_2" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_15" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_14" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_13" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_12" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_11" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_10" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_9" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_8" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_7" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_6" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_5" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_4" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_3" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_2" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_1" BEL
        "app/BMD/BMD_EP/EP_TX/cur_wr_count_0" BEL
        "app/BMD/BMD_EP/EP_TX/serv_mrd" BEL "app/BMD/BMD_EP/EP_TX/serv_mwr"
        BEL "app/BMD/BMD_EP/EP_TX/cur_rd_count_15" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_14" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_13" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_12" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_11" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_10" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_9" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_8" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_7" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_6" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_5" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_4" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_3" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_2" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_1" BEL
        "app/BMD/BMD_EP/EP_TX/cur_rd_count_0" BEL
        "app/BMD/BMD_EP/EP_TX/req_compl_q" BEL
        "app/BMD/BMD_EP/EP_TX/compl_done_o" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_11" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_10" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_9" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_8" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_7" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_6" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_5" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_4" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_3" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_len_byte_2" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_15" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_14" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_13" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_12" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_11" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_10" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_9" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_8" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_7" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_6" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_5" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_4" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_3" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_2" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_1" BEL
        "app/BMD/BMD_EP/EP_TX/rmrd_count_0" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_15" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_14" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_13" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_12" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_11" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_10" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_9" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_8" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_7" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_6" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_5" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_4" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_3" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_2" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_1" BEL
        "app/BMD/BMD_EP/EP_TX/rmwr_count_0" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_11" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_10" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_9" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_8" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_7" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_6" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_5" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_4" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_3" BEL
        "app/BMD/BMD_EP/EP_TX/mwr_len_byte_2" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_9" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_8" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_7" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_6" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_5" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_4" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_3" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_2" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_1" BEL
        "app/BMD/BMD_EP/EP_TX/cur_mwr_dw_count_0" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_31" BEL "app/BMD/BMD_EP/EP_TX/trn_td_30"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_29" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_28" BEL "app/BMD/BMD_EP/EP_TX/trn_td_27"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_26" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_25" BEL "app/BMD/BMD_EP/EP_TX/trn_td_24"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_23" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_22" BEL "app/BMD/BMD_EP/EP_TX/trn_td_21"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_20" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_19" BEL "app/BMD/BMD_EP/EP_TX/trn_td_18"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_17" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_16" BEL "app/BMD/BMD_EP/EP_TX/trn_td_15"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_14" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_13" BEL "app/BMD/BMD_EP/EP_TX/trn_td_12"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_11" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_10" BEL "app/BMD/BMD_EP/EP_TX/trn_td_9"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_8" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_7" BEL "app/BMD/BMD_EP/EP_TX/trn_td_6"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_5" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_4" BEL "app/BMD/BMD_EP/EP_TX/trn_td_3"
        BEL "app/BMD/BMD_EP/EP_TX/trn_td_2" BEL
        "app/BMD/BMD_EP/EP_TX/trn_td_1" BEL "app/BMD/BMD_EP/EP_TX/trn_td_0"
        BEL "app/BMD/BMD_EP/EP_TX/trn_tsrc_rdy_n" BEL
        "app/BMD/BMD_EP/EP_TX/trn_teof_n" BEL
        "app/BMD/BMD_EP/EP_TX/BMD_INTR_CTRL/intr_state_FSM_FFd2" BEL
        "app/BMD/BMD_EP/EP_TX/BMD_INTR_CTRL/wr_intr_state_FSM_FFd1" BEL
        "app/BMD/BMD_EP/EP_TX/BMD_INTR_CTRL/intr_state_FSM_FFd1" BEL
        "app/BMD/BMD_EP/EP_TX/BMD_INTR_CTRL/rd_intr_state_FSM_FFd1" BEL
        "app/BMD/BMD_EP/EP_TX/BMD_INTR_CTRL/rd_intr_state_FSM_FFd2" BEL
        "app/BMD/BMD_EP/EP_TX/BMD_INTR_CTRL/wr_intr_state_FSM_FFd2" BEL
        "app/BMD/BMD_EP/EP_RX/bmd_32_rx_state_FSM_FFd2" BEL
        "app/BMD/BMD_EP/EP_RX/bmd_32_rx_state_FSM_FFd3" BEL
        "app/BMD/BMD_EP/EP_RX/bmd_32_rx_state_FSM_FFd1" BEL
        "app/BMD/BMD_EP/EP_RX/bmd_32_rx_state_FSM_FFd4" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_31" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_30" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_29" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_28" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_27" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_26" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_25" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_24" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_23" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_22" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_21" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_20" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_19" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_18" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_17" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_16" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_15" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_14" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_13" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_12" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_11" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_10" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_9" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_8" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_7" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_6" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_5" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_4" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_3" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_size_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_31" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_30" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_29" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_28" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_27" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_26" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_25" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_24" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_23" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_22" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_21" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_20" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_19" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_18" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_17" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_16" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_15" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_14" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_13" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_12" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_11" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_10" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_9" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_8" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_7" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_6" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_5" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_4" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_3" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_found_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_found_o_7" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_found_o_6" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_found_o_5" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_found_o_4" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_found_o_3" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_found_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_found_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_found_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_tag_o_7" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_tag_o_6" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_tag_o_5" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_tag_o_4" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_tag_o_3" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_tag_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_tag_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/cpl_ur_tag_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/wr_en_o" BEL "app/BMD/BMD_EP/EP_RX/req_td_o" BEL
        "app/BMD/BMD_EP/EP_RX/req_ep_o" BEL "app/BMD/BMD_EP/EP_RX/req_be_o_3"
        BEL "app/BMD/BMD_EP/EP_RX/req_be_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/req_be_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/req_be_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/req_tag_o_7" BEL
        "app/BMD/BMD_EP/EP_RX/req_tag_o_6" BEL
        "app/BMD/BMD_EP/EP_RX/req_tag_o_5" BEL
        "app/BMD/BMD_EP/EP_RX/req_tag_o_4" BEL
        "app/BMD/BMD_EP/EP_RX/req_tag_o_3" BEL
        "app/BMD/BMD_EP/EP_RX/req_tag_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/req_tag_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/req_tag_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/wr_be_o_3" BEL "app/BMD/BMD_EP/EP_RX/wr_be_o_2"
        BEL "app/BMD/BMD_EP/EP_RX/wr_be_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/wr_be_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_15" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_14" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_13" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_12" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_11" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_10" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_9" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_8" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_7" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_6" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_5" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_4" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_3" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/req_rid_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/req_len_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/req_tc_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/req_tc_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/req_tc_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/req_attr_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/req_attr_o_0" BEL
        "app/BMD/BMD_EP/EP_RX/req_compl_o" BEL
        "app/BMD/BMD_EP/EP_RX/trn_rdst_rdy_n" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_31" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_30" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_29" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_28" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_27" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_26" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_25" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_24" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_23" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_22" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_21" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_20" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_19" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_18" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_17" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_16" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_15" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_14" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_13" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_12" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_11" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_10" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_9" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_8" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_7" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_6" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_5" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_4" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_3" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_1" BEL
        "app/BMD/BMD_EP/EP_RX/wr_data_o_0" BEL "app/BMD/BMD_EP/EP_RX/addr_o_6"
        BEL "app/BMD/BMD_EP/EP_RX/addr_o_5" BEL
        "app/BMD/BMD_EP/EP_RX/addr_o_4" BEL "app/BMD/BMD_EP/EP_RX/addr_o_3"
        BEL "app/BMD/BMD_EP/EP_RX/addr_o_2" BEL
        "app/BMD/BMD_EP/EP_RX/addr_o_1" BEL "app/BMD/BMD_EP/EP_RX/addr_o_0"
        BEL "app/BMD/BMD_EP/EP_MEM/wr_mem_state_FSM_FFd1" BEL
        "app/BMD/BMD_EP/EP_MEM/wr_mem_state_FSM_FFd2" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_31" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_30" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_29" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_28" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_27" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_26" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_25" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_24" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_23" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_22" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_21" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_20" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_19" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_18" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_17" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_16" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_15" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_14" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_13" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_12" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_11" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_10" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_9" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_8" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_7" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_6" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_5" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_4" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_3" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_2" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_1" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_wr_data_0" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_31" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_30" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_29" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_28" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_27" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_26" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_25" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_24" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_23" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_22" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_21" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_20" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_19" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_18" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_17" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_16" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_15" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_14" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_13" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_12" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_11" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_10" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_9" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_8" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_7" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_6" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_5" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_4" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_3" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_2" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_1" BEL
        "app/BMD/BMD_EP/EP_MEM/pre_wr_data_0" BEL
        "app/BMD/BMD_EP/EP_MEM/mem_write_en" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_0" PIN
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/Mmult_n0362_pins<92>" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_done" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_d_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/expect_cpld_data_size_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_directed_link_change_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_directed_link_change_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_size_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_perf_post_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_perf_post_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/clr_pl_speed_change_err" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/clr_pl_width_change_err" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_wrr_cnt_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_wrr_cnt_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_wrr_cnt_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_wrr_cnt_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_wrr_cnt_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_wrr_cnt_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_wrr_cnt_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_wrr_cnt_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_wrr_cnt_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_wrr_cnt_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_wrr_cnt_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_wrr_cnt_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_wrr_cnt_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_wrr_cnt_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_wrr_cnt_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_wrr_cnt_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_len_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_len_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpl_streaming_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/LEGACYCLR" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/INTDI_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/INTDI_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/INTDI_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/INTDI_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/INTDI_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/INTDI_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/INTDI_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/INTDI_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_speed_change_err" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_width_change_err" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_upstream_preemph_src" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_directed_link_auton" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_directed_link_speed_binary_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_directed_link_speed_binary_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_directed_link_width_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/pl_directed_link_width_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/trn_tstr_n_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/trn_rnp_ok_n_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/rd_metering_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_nosnoop_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_relaxed_order_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_up_addr_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_up_addr_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_up_addr_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_up_addr_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_up_addr_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_up_addr_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_up_addr_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_up_addr_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_64b_en_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_tlp_tc_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_tlp_tc_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_tlp_tc_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_int_dis_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_phant_func_dis1_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_phant_func_dis1_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_nosnoop_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_relaxed_order_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_up_addr_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_up_addr_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_up_addr_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_up_addr_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_up_addr_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_up_addr_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_up_addr_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_up_addr_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_tlp_tc_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_tlp_tc_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_tlp_tc_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_int_dis_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_64b_en_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_start_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_start_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/cpld_data_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_data_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_count_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_count_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_addr_o_0" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_31" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_30" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_29" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_28" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_27" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_26" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_25" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_24" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_23" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_22" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_21" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_20" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_19" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_18" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_17" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_16" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_15" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_14" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_13" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_12" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_11" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_10" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_9" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_8" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_7" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_6" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_5" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_4" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_3" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_2" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_1" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/mwr_addr_o_0" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/bmd_gen2_fsm_FSM_FFd1" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/bmd_gen2_fsm_FSM_FFd2" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_20_16_3" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_20_16_2" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_20_16_1" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_20_16_0" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_15_8_7" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_15_8_6" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_15_8_5" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_15_8_4" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_15_8_3" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_15_8_2" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_15_8_1" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_15_8_0" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_7_0_7" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_7_0_6" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_7_0_5" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_7_0_4" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_7_0_3" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_7_0_2" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_7_0_1" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/poll_cntr_7_0_0" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/polling_start" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/pl_width_change_err" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/clear_directed_WSC" BEL
        "app/BMD/BMD_EP/BMD_GEN2_I/pl_speed_change_err" BEL
        "app/BMD/BMD_CF/cfg_intf_state_FSM_FFd1" BEL
        "app/BMD/BMD_CF/cfg_intf_state_FSM_FFd2" BEL
        "app/BMD/BMD_CF/cfg_intf_state_FSM_FFd3" BEL
        "app/BMD/BMD_CF/cfg_cap_max_lnk_width_5" BEL
        "app/BMD/BMD_CF/cfg_cap_max_lnk_width_4" BEL
        "app/BMD/BMD_CF/cfg_cap_max_lnk_width_3" BEL
        "app/BMD/BMD_CF/cfg_cap_max_lnk_width_2" BEL
        "app/BMD/BMD_CF/cfg_cap_max_lnk_width_1" BEL
        "app/BMD/BMD_CF/cfg_cap_max_lnk_width_0" BEL
        "app/BMD/BMD_CF/cfg_cap_max_payload_size_2" BEL
        "app/BMD/BMD_CF/cfg_cap_max_payload_size_1" BEL
        "app/BMD/BMD_CF/cfg_cap_max_payload_size_0" BEL
        "app/BMD/BMD_CF/cfg_rd_en_n" BEL "app/BMD/BMD_CF/cfg_dwaddr_3" BEL
        "app/BMD/BMD_CF/cfg_dwaddr_2" BEL "app/BMD/BMD_CF/cfg_dwaddr_1" BEL
        "app/BMD/BMD_CF/cfg_dwaddr_0" BEL "app/BMD/BMD_TO/cfg_turnoff_ok_n"
        BEL "app/BMD/BMD_EP/EP_MEM/EP_MEM/mrd_done_o" BEL
        "app/BMD/BMD_TO/trn_pending" BEL "app/BMD/BMD_EP/EP_TX/mwr_done_o" BEL
        "app/BMD/BMD_EP/EP_TX/mrd_done" BEL
        "app/BMD/BMD_EP/EP_RX/cpld_data_err_o" BEL
        "app/BMD/BMD_EP/EP_MEM/EP_MEM/init_rst_o" BEL
        "app/BMD/BMD_CF/cfg_bme_state" BEL
        "app/BMD/BMD_EP/EP_TX/tmrd_wrr_cnt_7" BEL
        "app/BMD/BMD_EP/EP_TX/tmrd_wrr_cnt_6" BEL
        "app/BMD/BMD_EP/EP_TX/tmrd_wrr_cnt_5" BEL
        "app/BMD/BMD_EP/EP_TX/tmrd_wrr_cnt_4" BEL
        "app/BMD/BMD_EP/EP_TX/tmrd_wrr_cnt_3" BEL
        "app/BMD/BMD_EP/EP_TX/tmrd_wrr_cnt_2" BEL
        "app/BMD/BMD_EP/EP_TX/tmrd_wrr_cnt_1" BEL
        "app/BMD/BMD_EP/EP_TX/tmrd_wrr_cnt_0" BEL
        "app/BMD/BMD_EP/EP_TX/tmwr_wrr_cnt_7" BEL
        "app/BMD/BMD_EP/EP_TX/tmwr_wrr_cnt_6" BEL
        "app/BMD/BMD_EP/EP_TX/tmwr_wrr_cnt_5" BEL
        "app/BMD/BMD_EP/EP_TX/tmwr_wrr_cnt_4" BEL
        "app/BMD/BMD_EP/EP_TX/tmwr_wrr_cnt_3" BEL
        "app/BMD/BMD_EP/EP_TX/tmwr_wrr_cnt_2" BEL
        "app/BMD/BMD_EP/EP_TX/tmwr_wrr_cnt_1" BEL
        "app/BMD/BMD_EP/EP_TX/tmwr_wrr_cnt_0" BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/trn_in_packet"
        BEL "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/flush_axi"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/axi_in_packet"
        BEL "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tready"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rdst_rdy"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/reg_dsc_detect"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_in_packet"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/null_mux_sel"
        BEL "app/axi_trn_top/rx_inst/trn_in_packet" BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/pm_prioity_pipeline.data_prev"
        BEL "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/data_prev"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_disable_trn"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/rx_inst/rx_pipeline_inst/trn_rsrc_rdy_prev"
        BEL
        "s6_pcie_v2_4_i/axi_basic_top/tx_inst/tx_pipeline_inst/reg_tready_1"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[3].ram/ramb16_pins<28>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[3].ram/ramb16_pins<29>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[2].ram/ramb16_pins<28>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[2].ram/ramb16_pins<29>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[1].ram/ramb16_pins<28>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[1].ram/ramb16_pins<29>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[0].ram/ramb16_pins<28>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_tx/brams[0].ram/ramb16_pins<29>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[3].ram/ramb16_pins<28>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[3].ram/ramb16_pins<29>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[2].ram/ramb16_pins<28>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[2].ram/ramb16_pins<29>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[1].ram/ramb16_pins<28>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[1].ram/ramb16_pins<29>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[0].ram/ramb16_pins<28>"
        PIN
        "s6_pcie_v2_4_i/pcie_bram_top/pcie_brams_rx/brams[0].ram/ramb16_pins<29>";
PIN s6_pcie_v2_4_i/gt_refclk_bufio2_pins<1> = BEL
        "s6_pcie_v2_4_i/gt_refclk_bufio2" PINNAME I;
TIMEGRP GT_REFCLK_OUT = PIN "s6_pcie_v2_4_i/gt_refclk_bufio2_pins<1>";
PIN s6_pcie_v2_4_i/pll_base_i/PLL_ADV_pins<2> = BEL
        "s6_pcie_v2_4_i/pll_base_i/PLL_ADV" PINNAME CLKIN1;
TIMEGRP s6_pcie_v2_4_i_gt_refclk_buf = PIN
        "s6_pcie_v2_4_i/pll_base_i/PLL_ADV_pins<2>";
NET "sys_clk_c" PERIOD = 10 ns HIGH 50%;
TS_GT_REFCLK_OUT = PERIOD TIMEGRP "GT_REFCLK_OUT" 10 ns HIGH 50%;
TS_s6_pcie_v2_4_i_gt_refclk_buf = PERIOD TIMEGRP
        "s6_pcie_v2_4_i_gt_refclk_buf" TS_GT_REFCLK_OUT HIGH 50%;
TS_s6_pcie_v2_4_i_clk_125 = PERIOD TIMEGRP "s6_pcie_v2_4_i_clk_125"
        TS_s6_pcie_v2_4_i_gt_refclk_buf / 1.25 HIGH 50%;
TS_s6_pcie_v2_4_i_clk_250 = PERIOD TIMEGRP "s6_pcie_v2_4_i_clk_250"
        TS_s6_pcie_v2_4_i_gt_refclk_buf / 2.5 HIGH 50%;
TS_s6_pcie_v2_4_i_clk_62_5 = PERIOD TIMEGRP "s6_pcie_v2_4_i_clk_62_5"
        TS_s6_pcie_v2_4_i_gt_refclk_buf / 0.625 HIGH 50%;
PIN sys_reset_n_pins<0> = BEL "sys_reset_n" PINNAME PAD;
PIN "sys_reset_n_pins<0>" TIG;
SCHEMATIC END;

